.ant-menu-item:hover {
    background-color: #e6f7ff; /* Цвет фона при наведении */
    color: #1890ff; /* Цвет текста при наведении */
}

.ant-menu-submenu:hover > .ant-menu {
    background-color: #e6f7ff; /* Цвет фона для подменю при наведении */
}

.ant-menu-item-selected {
    background-color: #bae7ff; /* Цвет фона для выбранного элемента */
    color: #1890ff; /* Цвет текста для выбранного элемента */
}